@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.cover,
.r3f {
  width: 100%;
  height: 100%;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  font-size: 16px;
}

a,
button {
  cursor: none;
}

@media (max-width: 640px) {
  .messageWrapper {
    position: absolute;
    transform: unset !important;
    width: 100%;
    height: 100%;
  }
}

.banner {
  position: absolute;
  bottom: 0;
  transform: unset !important;
  width: 100%;
  height: 100%;
}

.scrolling-text {
  position: relative;
  white-space: nowrap;
  animation: scroll-left 5s linear infinite alternate-reverse;
}

@keyframes scroll-left {
  from {
    left: 50%;
    width: 500%;
  }
  to {
    left: -120%;
    width: 500%;
  }
}

.rotate-360 {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grain {
  animation: grain 0.015s steps(10) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

.noto-sans-sinhala {
  font-family: "Noto Sans Sinhala", sans-serif;
  font-optical-sizing: auto;
}

.interface-scrollbar {
  scroll-behavior: smooth;
}

.interface-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.interface-scrollbar::-webkit-scrollbar-track {
  background: #e6ffce;
}

/* Handle */
.interface-scrollbar::-webkit-scrollbar-thumb {
  background: #083e03;
  border-radius: 100px;
}

/* Handle on hover */
.interface-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
